nav {
  background: F9F9F9;
  width: 300px;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  display: block;
  decoration: none;
}

nav a {
  text-decoration: none;
}

.sidebar {
  padding-left: 0px;
}
